h1{
    color: #F6AA1C ;
}
h2{
    color: #F6AA1C ;
}
a{
    text-decoration : none;
}
body{
    background-color: #AF1707;
}
p{
    color: #F6AA1C ;
}
img {
    width : 600px;
    height : 400px;
    }